.stack-sm > * + * {
  margin-top: var(--space-1);
}

.stack-md > * + * {
  margin-top: var(--space-2);
}

.stack-lg > * + * {
  margin-top: var(--space-3);
}

.section-padding {
  padding: var(--space-4);
}

.pad-sm {
  padding: var(--space-2);
}

.pad-md {
  padding: var(--space-3);
}

.pad-lg {
  padding: var(--space-4);
}
